{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List App</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'checked.png' %}"/>

</head>
<body>
    <div class="container">
        <h1 class="title">Enter your details to login</h1>

        <div class="form" action="{% url 'login' %}">
            <form method="post">
				{% csrf_token %}
                {{form.username}}
                {{form.password}}
				<button type="submit" class="btn login">Log-In</button>
            </form>
        </div>
        {% if form.errors %}
        <div class="task" id="warn">
            <h3>Your details didn't match. Try Again</h3>
        </div>
        {% endif %}        
    <a href="{% url 'register' %}">
        <button class="create btn" style="background-color:crimson">Create an Account</button>
    </a>

    </div>
</body>
</html>